@import 'tailwindcss';

html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

@theme {
  --font-bricolage: var(--font-bricolage-grotesque);
  --font-preahvihear: var(--font-preahvihear);
  --font-poppins: var(--font-poppins);
  --font-reenie: var(--font-reenie-beanie);
  --color-emerald-950: #0A3323;
}

@media (max-width: 1440px) {
  .wedding-wrapper {
    display: flex;
    justify-content: center;
    height: calc(7100px * (100vw / 1440px));
    overflow: hidden;
  }
  .wedding-container {
    flex-shrink: 0;
    transform: scale(calc(100vw / 1440px));
    transform-origin: top center;
  }
}
